body {
	background-color:#ffffff;
	color:#000000;
	font-family:'Noto Serif',Helvetica,sans-serif;
	font-size:13.5px;
	letter-spacing:-0.015em;
	line-height:1.3;
}
ul {
	list-style:disc;
	padding:0 0 0 20px;
}
a {
	color:#ff3300;
}
a:link {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
p {
	font-size:13.5px;
}
#header {
	position:absolute;
	top:10;
	left:5;
	width:935px;
	height:auto;
}
#leftnavigation {
	position:absolute;
	top:130px;
	left:5;
	height:auto;
	width:200px;
	padding:10px 0 0 25px;
	color:#000000;
}
#content {
	position:absolute;
	top:130px;
	left:200px;
	height:auto;
	width:700px;
	padding:10px 5px 5px 5px;
	color:#000000;
}
#title {
	font-size:20px;
	letter-spacing:-0.015em;
}
